/********** SEDONA **********/
html, body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	font-family: "PT Sans", "Helvetica Neue", "Helvetica", sans-serif;
	color: black;
	text-transform: uppercase;
}
h1 {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
h2 {
	margin: 0;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}
.shadow-container {
	position: relative;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 40px 2px #dbdbdb;
}
a {
	text-decoration: none;
}
.main-nav-item, .advantages-list, .advantages-list-item, .advantages-sublist, .advantages-sublist-item, .found-header-list, .searchres-card li, .social-item {
	list-style: none;
	padding: 0;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/********** Хедер **********/
.page-header {
	position: relative;
}
.sedonalogo {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 71px;
	cursor: pointer;
}
.main-nav {
	margin-bottom: 22px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-nav-list {
	padding: 0;
	font-size: 0;
}
.main-nav-item {
	display: inline-block;
	width: 20%;
	padding-top: 17px;
	padding-bottom: 18px;
	vertical-align: top;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
.main-nav-item:nth-child(2) {
	margin-right: 20%;
}
.main-nav-link {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.main-nav-link:hover {
	color: #81b3d2;
}
.main-nav-link:active {
	color: #b2b2b2;
}
.main-nav-link.active {
	color: #766357;
}
.main-nav-link.active:hover {
	color: #604e43;
}
.main-nav-link.active:active {
	color: #d6d0cc;
}
/********** Кнопки **********/
.button-style {
	display: inline-block;
	padding: 7px;
	text-align: center;
	font-family: "PTSans", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
	font-stretch: normal;
	text-decoration: none;
	background: #81b3d2;
	border-radius: 5px;
	border: 1px solid;
	color: white;
	text-transform: uppercase;
}
.searchbutton {
	width: 458px;
	height: 58px;
}
button {
	display: inline-block;
	padding: 7px;
	text-align: center;
	font-family: "PTSans", sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: bold;
	font-stretch: normal;
	text-decoration: none;
	background-color: #766357;
	border-radius: 5px;
	border: 1px solid;
	color: white;
	text-transform: uppercase;
}
button:hover {
	background-color: #604e43;
}
button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}
/********** Преимущества **********/
.advantages-title, .advantages-info {
	width: 576px;
	margin: 0 auto;
	text-align: center;
}
.advantages-title {
	margin-bottom: 27px;
}
.advantages-info {
	color: #333333;
	margin-bottom: 51px;
	line-height: 26px;
}
.card-big {
	min-height: 256px;
	background-color: #81b3d2;
	text-align: center;
	line-height: normal;
}
.card-big-header {
	color: white;
	float: left;
	width: calc(100%/3);
	min-height: 256px;
	padding-top: 54px;
	box-sizing: border-box;
	text-align: center;
}
.advantage-title {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 24px;
	text-align: center;
}
.advantage-number {
	display: block;
	margin: 0 auto;
	margin-bottom: 21px;
}
.advantage-desc {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	color: black:
}
.card-big-image {
	float: left;
	width: calc(100%/3*2);
	min-height: 256px;
}
.imagehotel {
	background: #989484 no-repeat;
	background-size: 100% auto;
}
.card {
	background-color: white;
	float: left;
	width: 33.3333333333%;
	min-height: 256px;
	padding-top: 54px;
	box-sizing: border-box;
	text-align: center;
}
.card-container {
	position: relative;
	padding-top: 161px;
	background-color: transparent;
	text-align: center;
	margin-bottom: 100px;
}
/********** Подвал **********/
.social-item {
	display: inline-block;
	text-align: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	background-position: center;
}
.social-item:hover {
	background-color: #669ec0;
	fill: #669ec0;
}
.social-item:focus {
	background-color: #5496bd;
	fill: #5496bd;
}
.social-item:active {
	background-color: #5496bd;
	fill: #5496bd;
}
.page-footer-htmlacademy svg:hover {
	stroke: #81b3d2;
	fill: #81b3d2;
	background-color: white
}
.page-footer-htmlacademy svg:active {
	stroke: #bdbbbc;
	fill: #bdbbbc;
}
/********** Картинки и Иконки **********/
.home::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 50%;
	background-image: url("../img/icon-1.svg");
	no-repeat;
	transform: translateX(-50%);
	width: 75px;
	height: 72px;
}
.suveniers::before {
	content: "";
	position: absolute;
	top: 61px;
	left: 50%;
	width: 64px;
	height: 76px;
	background-image: url("../img/icon-2.svg");
	no-repeat;
	transform: translateX(-50%);
}
.food::before {
	content: "";
	position: absolute;
	top: 61px;
	left: 50%;
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-3.svg");
	no-repeat;
	transform: translateX(-50%);
}
.welcome {
	height: 565px;
	width: 1200px;
	object-fit: contain;
	overflow: hidden;
	background:    url("../img/welcome.svg"), url("../img/polygon.svg"), url("../img/backgroundlanding.jpg");
	background-position: 370px 132px, 0px 507px, 0px 0px;
	background-size: 459px 353px, 1203px 59px, 100%;
	background-repeat: no-repeat;
	margin-bottom: 27px;
}
/********** Формы **********/
.searchform {
	color: white;
	background-image: url("../img/hotelsback.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.slider {
	width: 100%;
	height: 3px;
	border-radius: 1px;
	background: white;
	outline: none;
	opacity: 0.7;
	transition: opacity .2s;
}
.slider-thumb {
	appearance: none;
	width: 20px;
	height: 22px;
	background-image: url("../img/filter-button.svg");
	cursor: pointer;
}
/********** Рейтинги **********/
.fourstars {
	width: 70px;
	height: 17px;
	background-image: url("../img/star.svg");
}
.threestars {
	width: 55px;
	height: 17px;
	background-image: url("../img/star.svg");
}
.twostars {
	width: 35px;
	height: 17px;
	background-image: url("../img/star.svg");
}
