html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", sans-serif;
  color: black;
  width: 1200px;
}

.welcome {
  width: 1200px;
  height: 773px;

  background: url("img\welcome.png") no-repeat 370px 132px,
    url("img\polygon.svg") no-repeat 0px 717px,
    url("img\backgroundlanding.jpg") no-repeat 0px 0px;
}
